@model string

<div class="d-inline-block bg-white text-dark rounded px-3 py-1 shadow-sm border border-success">
    <span class="fw-bold text-success">$ Dolar:</span>
    <span class="fw-bold">@Model ₺</span>
    
    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-success border border-light rounded-circle" 
          style="width: 10px; height: 10px;" title="Canlı Veri"></span>
</div>